.p-Home.heading1, .p-Home.heading4, .p-Home.heading18, .p-Home.heading26, .p-Home.heading36, .p-Home.heading39, .p-Home.heading42{
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}
.p-Home.heading9, .p-Home.heading12, .p-Home.heading14, .p-Home.heading16{
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.p-Home.section4 {
    background: linear-gradient(to bottom, white 63%, black 37%);
}

.p-Home.Image80 {
  -webkit-filter: grayscale(100%); 
  filter: grayscale(100%);
}

